<div class="container-fluid ">

    <div class="row ">
        <ng-container *ngFor="let item of movies">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 my-3 d-flex justify-content-center d-sm-block" (click)="openMovieDetails(item.id)">
                <div class="card h-100 cursor-pointer" >
                    <img [src]="item.poster"
                        class="card-img-top" alt="...">
                    <!-- <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div> -->
                    <div class="card-footer">
                        <!-- <small class="text-body-secondary"><i class="bi bi-star-fill text-danger me-2"></i>{{item.rating}}/10</small> -->
                        <small class="text-body-secondary fw-bolder">{{item.name}}</small>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>


</div>